<%= simple_form_for(@dog_walk, html: { :multipart => true, class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :town %>
    <%= f.input :county %>
    <%= f.input :distance, label: 'Distance km' %>
    <%= f.input :directions, as: :text, input_html: { rows: "3" } %>
  	<%= f.full_error :image_file_size, class: "alert alert-error" %>
  	<%= f.full_error :image_content_type, class: "alert alert-error" %>

  	<%= f.input :image, label: "Upload an image" %>
	<%= f.input :image_delete, as: :boolean, label: "Delete Image" %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
